# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Database
expenses.db

# OS Files
.DS_Store
Thumbs.db
